// ============================================
// Project shared
// ============================================
main {
  padding: 76px 0; // 76px + 50px

  @media (min-width: $screen-sm-min) {
    padding: 86px 0;
  }
}

p {
  margin-bottom: 54px;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
}


// Navbar
.navbar {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
}

.navbar-content {
  position: absolute;
  width: 100%;
  height: 770px;
  text-align: center;
  background-color: $color-green;
  overflow: hidden;
  // transition: height .6s linear;

  ul {
    padding: 83px 0;
    list-style: none;
  }

  .navbar-link {
    font: 63px/85px $font-family-serif;
    color: $color-white;
    text-decoration: none;

    &.current {
      display: block;
      background-color: $color-white;
      color: $color-green;
    }
  }
}

.navbar-state {
  position: absolute;
  right: 100px;
  z-index: 101;
}

.navbar-state:checked + .navbar-content {
  height: 50px;
  // transition: height .6s linear;

  @media (min-width: $screen-sm-min) {
    height: 0;
  }
}
