// ============================================
// Settings
// ============================================

// Typography
$font-family-sans-serif: "Ropa Sans", Helvetica, Arial, sans-serif;
$font-family-serif: "Cardo", "Times New Roman", Times, serif;

$headings-font-family: $font-family-serif;
$body-font-family: $font-family-sans-serif;
