// ============================================
// Settings
// ============================================

// Colors
$color-copy: #666666;
$color-heading: #333333;
$color-white: #ffffff;
$color-green: #317067;

// Typography
$font-family-sans-serif: "Ropa Sans", Helvetica, Arial, sans-serif;
$font-family-serif: "Lora", "Times New Roman", Times, serif;
$font-size-base: 14px;
$line-height-base: 1.29; // 18/14
$body-font-family: $font-family-sans-serif;
$text-color: $color-copy;
$headings-font-family: $font-family-serif;
$headings-color: $color-heading;
$link-color: $color-green;
$link-hover-color: $color-green;

// Buttons
$btn-primary-bg: $color-green;
