// ============================================
// Typography
// ============================================

body {
  color: $color-copy;

  &.theme-dark {
    color: $color-white;
  }
}

p {
  font: 14px/18px $body-font-family;

  @media (min-width: $screen-xs-min) {
    font-size: 20px;
    line-height: 23px;
  }
}

.headline {
  font-size: 46px;
  line-height: 58px;
  font-weight: normal;
  text-align: center;
  margin: 0 0 36px;

  @media (min-width: $screen-xs-min) {
    font-size: 63px;
    line-height: 80px;
    margin-bottom: 60px;
  }

  .theme-dark & {
    color: $color-white;
  }
}
