@import "shared/bootstrap-custom";

// ============================================
// Page: home
// ============================================
.page-home {

  .main {
    @include background-cover('/dist/images/background_bigsurcliff.jpg');
  }

  .clock {
    font: 41px/60px $font-family-serif;
    margin-bottom: 60px;
    text-transform: uppercase;
    transform: translateZ(0);

    @media (min-width: $screen-xs-min) {
      font-size: 75px;
      line-height: 98px;
      margin-bottom: 65px;
    }
  }

  .copy {
    font-size: 23px;
    line-height: 32px;
    max-width: 11em;

    @media (min-width: $screen-xs-min) {
      font-size: 32px;
      line-height: 36px;
    }
  }
}

// ============================================
// Page: wedding-day
// ============================================
.page-wedding-day {
  .main {
    @include background-cover('/dist/images/background_terragallery.jpg');
  }

  .headline {
    .eyebrow {
      top: 20px;
      left: -96px;
    }

    &-image {
     @include img-retina("/dist/images/header_wedding.png", "/dist/images/header_wedding_2x.png", 402px, 137px);
     @include horizontal-center;
     width: 402px;
     height: 137px;
     background-size: 402px 137px;
    }
  }

  .keyline {
    margin: 2px auto 32px;

    @media (min-width: $screen-xs-min) {
      margin-bottom: 58px;
    }
  }

  .parking {
    max-width: 30.5em;
  }
}

// ============================================
// Page: registry
// ============================================
.page-registry {
  .headline {
    .eyebrow {
      top: 3px;
      left: 3px;
    }

    &-image {
      @include img-retina("/dist/images/header_registry.png", "/dist/images/header_registry_2x.png", 469px, 137px);
      @include horizontal-center;
      width: 469px;
      height: 137px;
      background-size: 469px 137px;
    }
  }

  .copy {
    @include center;
    max-width: 21em;
  }

  .links {
    list-style: none;
    padding: 10px 0 0;

    @media (min-width: $screen-sm-min) {
      margin-top: -10px;
      padding: 0;
    }
  }
  .link {
    display: inline-block;
    @include text-hide;

    &-cnb {
      @include img-retina("/dist/images/crate_and_barrel.jpg", "/dist/images/crate_and_barrel_2x.jpg", 270px, 39px);
      width: 270px;
      height: 39px;
      background-size: 270px 39px;
      margin-bottom: 30px;

      @media (min-width: $screen-sm-min) {
        margin-top: 50px;
      }
    }
    &-macys {
      @include img-retina("/dist/images/macys.jpg", "/dist/images/macys_2x.jpg", 270px, 74px);
      width: 270px;
      height: 74px;
      background-size: 270px 74px;
    }
  }
}


// ============================================
// Page: hotel
// ============================================
.page-hotel {
  .headline-image {
    @include img-retina("/dist/images/header_hotel.png", "/dist/images/header_hotel_2x.png", 275px, 137px);
    width: 275px;
    height: 137px;
    background-size: 275px 137px;
  }
}
