@import "shared/bootstrap-custom";

// ============================================
// Page: home
// ============================================
.page-home {
  @include background-cover('/dist/images/background_bigsurcliff.jpg');

  .clock {
    font: 41px/60px $font-family-serif;
    margin-bottom: 60px;
    text-transform: uppercase;

    @media (min-width: $screen-sm-min) {
      font-size: 75px;
      line-height: 98px;
      margin-bottom: 65px;
    }

  }

  .copy {
    font-size: 32px;
    line-height: 36px;
  }
}

// ============================================
// Page: wedding-day
// ============================================
.page-wedding-day {
  @include background-cover('/dist/images/background_terragallery.jpg');

  .container {
    max-width: 616px;
    margin: 0 auto;
    text-align: center;
  }

  .keyline {
    margin: 2px auto 58px;
  }
}
