// ============================================
// Page: story
// ============================================
@import "shared/bootstrap-custom";

@mixin label-circle($side) {
  content: '';
  border: 3px solid #ffffff;
  border-radius: 100%;
  position: absolute;
  top: 5px;
  #{$side}: 15px;
  width: 14px;
  height: 14px;
}
$paragraph-padding: 31px;

.page-story {
  .main {
    @include background-cover('/dist/images/background_beach.jpg');
  }

  .label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .row {
    margin: 0;

    .scrollreveal & {
      visibility: hidden;
    }

    p {
      @media (min-width: $screen-xs-min) {
        margin-bottom: 42px;
      }
    }
  }

  .col {
    &-box {
      border: 3px solid #fff;
      margin: 0 auto 54px;
      padding: 24px 72px;
      width: 100%;
      max-width: 624px;

      p {
        margin-bottom: 0;
      }
    }

    &-left {
      padding-left: 0;
      text-align: right;

      p {
        padding-right: $paragraph-padding;
      }

      .label:after {
        @include label-circle(right);
      }
    }

    &-right {
      padding-right: 0;

      p {
        padding-left: $paragraph-padding;
      }

      .label:before {
        @include label-circle(left);
      }
    }
  }
}
