// ============================================
// Page: wedding-day
// ============================================
@import "shared/bootstrap-custom";

.page-wedding-day {
  @include background-cover('/dist/images/background_terragallery.jpg');

  .container {
    max-width: 616px;
    margin: 0 auto;
    text-align: center;
    color: $color-white;
  }

  .hero {
    padding-top: 73px;
  }

  p {
    margin-bottom: 4px;
  }

  .keyline {
    margin: 56px auto 58px;
    width: 104px;
    border-top: 2px solid #9e9e9e;
  }

  .address {
    margin-bottom: 50px;
  }

  .parking {
    margin-bottom: 100px;
  }
}
